html,body{
    height:100%;
}

.full-height{
	min-height: 100%;
  height: 100%;
}

.full-width{
	width: 100% !important;
}

.vertical-middle{
	vertical-align: middle;
	float: none;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  padding-left: 2px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}

li.border-left-green{
	float: left;
	width: 95%;
	overflow: auto;
	height: auto;
	min-height: 10px;
	background: #FFF none repeat scroll 0% 0%;
	display: inline-block;
	padding: 20px;
	border-width: 1px 1px 1px 5px;
	border-style: solid;
	border-color: #CCC #CCC #CCC #39D1B4;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	color: #666;
	cursor: pointer;
	margin-bottom: 3px;
	margin-right: 2%;
	transition: all 0.3s ease 0s;
	position: relative;
}
.box-right{
  border-right: 1px solid #ccc;
}

.hidden{
  display: none;
}
.no-gutter{
  padding-right: 0;
  padding-left: 0;
}

.maxtrix-box-min-height{
  height: 270px;
}

.matrix-box-half{
  height: 135px;
}

.vertical-text-left{
  -webkit-transform: rotate(270deg);
  min-width: 115px;
}
.horizontal-text-bottom{
  text-align: center;
}

.bg-skip-color{
  background-color: #FF6666 !important;
}

.bg-transfer-color{
  background-color: #FFFF66 !important;
}

.bg-optimize-color{
  background-color: #3333FF !important;
}

.bg-perform-color{
  background-color: #33CC00 !important;
}

.border-right{
  border-width: 0px 1px 0px 0px;
  border-color: black;
  border-style: solid;
}

.big-bold-text{
  font-size: 22px;
  font-weight: bold;
}

.btn-addTask-small{
  height: 40px;
  width: 40px;
}
.title-container{
  height: 50px;
  border: 1px solid #CCC;
  text-align: center;
  padding:8px;
}

.content-container{
  height: 100%;
  border: 1px solid #CCC;
  text-align: center;
  padding:8px;
}

.ng-dirty.ng-invalid{
  outline: none;
  background-image: linear-gradient(red,red),linear-gradient(#d2d2d2,#d2d2d2);
  background-size: 100% 2px,100% 1px;
  box-shadow: none;
  transition-duration: .3s;
}

.thirsty{
  width: 30%;
}

.fifty{
  width:50%;
}

.eighty{
  width:80%;
}

.task-container{
  height:71px;
  width:209px;
  background-color:whitesmoke;
  padding:6px;
}
.task-header{
  min-height: 24px;
  margin-left: 4px;
}
.task-pomodoros{
  
}

.padding{
  padding:8px;
}

.mid-margin-right{
  margin-right: 4px;
}

.inventory-container .task-container{
  width: 100% !important;
  text-align: left;
  margin-bottom: 4px;
}

.todo-container .task-container{
  width: 100% !important;
  text-align: left;
  margin-bottom: 4px;
}

.urgent-container .task-container{
  width: 100% !important;
  text-align: left;
  margin-bottom: 4px;
}