<!DOCTYPE html>
<html ng-app="ADPomodoroApp" ng-csp="">
	<head>
		<meta charset="utf-8" />
		<title>Activity Inventory</title>
		
		<!-- Mobile support -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!--bootstrap libs-->
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/roboto.min.css" />
		<link rel="stylesheet" href="css/material-fullpalette.min.css" />
		<link rel="stylesheet" href="css/ripples.min.css" />
		<link rel="stylesheet" href="css/main.css" />
		<base target="_blank"/>
	</head>
	<body>
		<div class="main-content full-height">
			<div id="week-goal" class="container-fluid full-height" ng-controller="WeekGoal.WeekGoalController" ng-class="{'hidden' : !isCurrentPage(), '': isCurrentPage()}">
				<div class="row" style="margin-top:30%;">
					<div class="col-md-1"></div>
					<div class="col-md-9" style="padding-top:12px;">
						<input class="form-control empty" placeholder="What would you like to archive this week" type="text">
					</div>
					<div class="col-md-2">
						<button class="btn btn-sub btn-primary btn-raised" data-ng-click="go()">
							<span class="mdi-content-send"> GO </span>
						</button>
					</div>
				</div>
			</div>
			
			<div id="activity-inventory" class="container-fluid full-height" ng-controller="Inventory.InventoryController" ng-class="{'hidden' : !isCurrentPage(), '': isCurrentPage()}">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8" style="padding-top:12px;">
						<input class="form-control empty" placeholder="Enter your task description" type="text">
					</div>
					<div class="col-md-2">
						<button class="btn btn-sub btn-primary btn-raised" data-ng-click="go()">
							Add task
						</button>
					</div>
				</div>
				<div class="row">
					<div id="wrapper">
						<div id="sidebar-wrapper" class="box-right">
							<ul class="sidebar-nav">
								<li class="border-left-green"><p>Another link</p></li>
								<li class="border-left-green"><p>Next link</p></li>
								<li class="border-left-green"><p>Last link</p></li>
							</ul>
						</div><hr>
						<div id="page-content-wrapper">
							<div class="page-content">
								<div class="container">
									<div class="row">
										<div class="col-md-1" style="margin-top:3%;">
											<div class="vertical-text-left">Skip</div>
										</div>
										<div class="col-md-10 no-gutter" style="padding-right:5px;padding-bottom:5px;">
											<div class="shadow-z-1 matrix-box-half bg-danger"></div>
										</div>
										<div class="col-md-1"></div>
									</div>
									<div class="row">
										<div class="col-md-1" style="margin-top:3%;">
											<div class="vertical-text-left">Transfer</div>
										</div>
										<div class="col-md-10 no-gutter" style="padding-right:5px;padding-bottom:5px;">
											<div class="shadow-z-1 matrix-box-half bg-warning"></div>
										</div>
										<div class="col-md-1"></div>
									</div>
									<div class="row">
										<div class="col-md-1" style="margin-top:3%;">
											<div class="vertical-text-left">Optimize</div>
										</div>
										<div class="col-md-10 no-gutter" style="padding-right:5px;padding-bottom:5px;">
											<div class="shadow-z-1 matrix-box-half bg-info"></div>
										</div>
										<div class="col-md-1"></div>
									</div>
									<div class="row">
										<div class="col-md-1" style="margin-top:3%;">
											<div class="vertical-text-left">Perform</div>
										</div>
										<div class="col-md-10 no-gutter" style="padding-right:5px;padding-bottom:5px;">
											<div class="shadow-z-1 matrix-box-half bg-success"></div>
										</div>
										<div class="col-md-1"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 pull-right no-gutter">
						<button class="btn btn-primary btn-raised btn-md pull-right" data-ng-click="goToToDoPage()">
							<span>To-do page</span>
						</button>
					</div>
				</div>
			</div>
			
			<div id="today-todos" class="container-fluid full-height" ng-controller="ToDos.ToDoController" ng-class="{'hidden' : !isCurrentPage(), '': isCurrentPage()}">
				<div class="row full-height">
					<div class="col-md-3 full-height box-right">
						<ul class="sidebar-nav full-width">
							<li class="border-left-green"><p>Another link</p></li>
							<li class="border-left-green"><p>Next link</p></li>
							<li class="border-left-green"><p>Last link</p></li>
							<li class="border-left-green"><p>Another link</p></li>
							<li class="border-left-green"><p>Next link</p></li>
							<li class="border-left-green"><p>Last link</p></li>
							<li class="border-left-green"><p>Another link</p></li>
							<li class="border-left-green"><p>Next link</p></li>
							<li class="border-left-green"><p>Last link</p></li>
							<li class="border-left-green"><p>Another link</p></li>
							<li class="border-left-green"><p>Next link</p></li>
							<li class="border-left-green"><p>Last link</p></li>
						</ul>
					</div>
					<div class="col-md-6 full-height box-right"></div>
					<div class="col-md-3 full-height"></div>
				</div>
			</div>
		</div>
		
		<!--jquery 2.x - does not support Internet Explorer 6, 7, or 8-->
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/angular-1.4.7.min.js"></script>
		<script type="text/javascript" src="js/angular-route-1.4.7.min.js"></script>
		<script type="text/javascript" src="js/angular-animate-1.4.7.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/material.min.js"></script>
		<script type="text/javascript" src="js/ripples.min.js"></script>
		<script type="text/javascript" src="js/global.js"></script>
		<script type="text/javascript" src="modules/shared/shared.service.js"></script>
		<script type="text/javascript" src="modules/shared/shared.module.js"></script>
		<script type="text/javascript" src="modules/weekgoal/weekgoal.ctrl.js"></script>
		<script type="text/javascript" src="modules/weekgoal/weekgoal.module.js"></script>
		<script type="text/javascript" src="modules/todos/todos.ctrl.js"></script>
		<script type="text/javascript" src="modules/todos/todos.module.js"></script>
		<script type="text/javascript" src="modules/inventory/inventory.ctrl.js"></script>
		<script type="text/javascript" src="modules/inventory/inventory.module.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		
	</body>
</html>